<!DOCTYPE html>
<html>
  <head>
    <title>DivV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/nav' %>
    <% flash.each do |type, msg| %>
      <div class="container mt-3 alert alert-info alert-warning alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
